[Unit]
Description=Tune schedutil CPU frequency governor on boot
After=cpufrequtils.service
Wants=cpufrequtils.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo 50000 > /sys/devices/system/cpu/cpufreq/schedutil/rate_limit_us'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
